<ul class="nav fixed-top nav-justified d-md-none d-flex" style="background: black; height: 50px" role="tablist">
  <li class="nav-item">
    <a class="nav-link active m-auto"  data-toggle="tab" data-target="#home">
        <span>
            <i class="fa fa-home"></i>&nbsp;<small>Home</small>
        </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link m-auto"  data-toggle="tab"  data-target="#aboutme">
        <span>
            <i class="fa fa-id-card"></i>&nbsp;<small>About</small>
        </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link m-auto"  data-toggle="tab"  data-target="#skills">
        <span>
            <i class="fa fa-wrench"></i>&nbsp;<small>Skills</small>
        </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link m-auto" data-toggle="tab"  data-target="#projects">
        <span>
            <i class="fa fa-cogs"></i>&nbsp;<small>Projects</small>
        </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link m-auto" data-toggle="tab"  data-target="#contact">
        <span>
            <i class="fa fa-address-book"></i>&nbsp;<small>Contact</small>
        </span>
    </a>
  </li>
</ul>
<div style="height: 50px" class="d-md-none d-block"></div>