<ul class="nav fixed-left nav-justified flex-column d-none d-md-flex" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active m-auto"  data-toggle="tab" href="#home">
        <span>
            <i class="fa fa-home"></i>&nbsp;<small>Home</small>
        </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link m-auto"  data-toggle="tab"  href="#aboutme">
        <span>
            <i class="fa fa-id-card"></i>&nbsp;<small>About</small>
        </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link m-auto"  data-toggle="tab"  href="#skills">
        <span>
            <i class="fa fa-wrench"></i>&nbsp;<small>Skills</small>
        </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link m-auto" data-toggle="tab"  href="#projects">
        <span>
            <i class="fa fa-cogs"></i>&nbsp;<small>Projects</small>
        </span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link m-auto" data-toggle="tab"  href="#contact">
        <span>
            <i class="fa fa-address-book"></i>&nbsp;<small>Contact</small>
        </span>
    </a>
  </li>
</ul>