reivhax.me {
    root /opt/portfolio/resources/interface/build
}
api.reivhax.me {
    proxy / 127.0.0.1:8000 {
        transparent
    }
}
api.reivhax.me/static {
    root /opt/portfolio/staticfiles
}
