
.float-down{
  position: absolute;
  bottom: 0;
  right: 0;
}

.myimage{
  background-image: url('/static/img/xavier.jpg');
  height: 100vh;
  color: white;
  background-size: cover;
  position: relative;
}
.sttlll{
  background-color: #010221!important;
}
.myinfo{
  background-color: #000c;
  opacity: 0.9;
  padding: 23px;
  position: absolute;
  top: 50%;
  display: inline-table;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 378px;
}

.projimag{
  height: 160px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.skill{
  width: 150px;
  display: inline-block;
  margin: auto;
  vertical-align: top;
}
body{
 background-color: #010221!important;
}
.project{
  display: inline-block;
}
.fixed-left{
    height: 100vh;
    width: 180px;
    position: fixed;
    background: black;
}
.nav-item{
    display: flex;
}
.nav-item>a{
    color: white!important;
    cursor: pointer!important;
}
.fixed-left>.nav-item>a{
    font-size: 20pt;
}
.sidebar{
    width: 180px;
    float: left;
    height: 100vh;
}
.content {
    float: left;
    width: calc(100% - 180px);
}
.full{
    min-height: 100vh;
    background-color: inherit;
    height: auto;
}
@media only screen and (max-width: 767px) {
    .content{
        width: -webkit-fill-available;
        height: calc(100vh - 50px);
    }
    .projdesc{
        width: 58%;
        float: left;
    }
    .projimag{
        width: 42%;
        float: left;
    }
    .myimage{
        height: calc(100vh - 50px);
    }
    .full{
        min-height: calc(100vh - 50px);
        height: auto;
    }
}

@media only screen and (max-width: 515px) {
    .nav-item>a>span>small{
        display: none;
    }
}

.proj{
    width: 100%;
    float: left;
}
.notpr{
    width: unset;
    float: unset;
    height: 53vh;
}
.removeshit{
    pointer-events: auto!important;
    max-width: 80vw!important;
}
@media only screen and (max-width: 577px){
    .removeshit{
        max-width: unset!important;
    }
}
.emb{
    height: 57vh;
    width: 100%;
}
#skills_canvas{
    width: 65vw;
    max-width: 350px;
    max-height: 350px;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
.point{
  cursor: pointer;
}
